.Feed {
  width: 20vw;
  height: 100vh;
  background-color: transparent;
  color: #fff;
  margin-left: 1vw;
  overflow-y: scroll;
  scrollbar-width: none;
}

select {
  background-color: transparent;
  color: #6FFFE9;
  border: none;
  height: 10vh;
  font-size: 36px;
}
