.Post {
  display: grid;
  width: 90%;
  height: 10%;
  background-color: transparent;
  border: 1px solid #009dff;
  color: #fff;
  overflow-y: hidden;
  margin: auto;
}

#sub {
  justify-self: start;
}
