.Post {
  display: grid;
  width: 90%;
  height: 10%;
  background-color: #7C9EB2;
  color: #000;
  overflow-y: hidden;
  margin: auto;
  margin-top: 15px;
}

.Post:hover {
  background-color: #3A506B;
}

#sub {
  justify-self: start;
}
